:root {
  --pink: #FFCCD9;
  --beige: #CCADAD;
  --cream: #FFF2F2;

}

body, root {
    margin: 0;
    padding: 0;
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

nav {
  background-color: hsl(0, 100%, 87%);
  min-height: 5vh;
  max-height: 5vh;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 2rem;
  box-shadow: 10px 1px 10px rgb(241, 160, 160);
  padding: 30px 0px;
  z-index: 2;
  padding-left: 75px;
  justify-content: space-between;

}

nav .nav-links {
  color: white;
  text-decoration: none;
  margin-right: 10px;
  
}



nav svg:hover, nav a:hover {
  fill: white;
  cursor: pointer;
}


nav .nav-links:hover {
  scale: 110%;
}
.gitHubLogo
{
  width:50px; 
  height:50px;
  margin-right: 75px;
}

nav .link-container {
  display: flex;
  gap: 30px;
  
}

.card-container {
    background-color: var(--cream);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 75px;
  padding: 75px;
  border-radius: 8px;

}

.form-container {
  display: flex;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

textarea {
  width: 100%;
  resize: none;
}
.calendar-container
{
  padding: 20px;
  margin: 55px;
  border-radius: 8px;
  background-color: #FFF2F2;
}
/* Priority List */

/* For form inputs */
.asg_instructs
{
  font-size: 16px;
  border-radius: 4px;
  border: 1px var(--green);
  width: 500px;
  resize:auto;
  height:300px;
  overflow: auto;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;

}
label
{
  font-size: 18px;
  font-family: Poppins,Arial, Helvetica, sans-serif;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  border-radius: 4px;
 
}
input, button
{
  border: 1px var(--green);
  border-radius: 4px;
  padding: 8px;
  font-family: Poppins,Arial, Helvetica, sans-serif;
  box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
  background: rgb(251, 251, 251);
  transition: all 0.1s ease 0s;
  
}
button
{
  font-size: 16px;
}
@media screen and (min-width:2500px) {
  .asg_instructs
  {
    width: 1000px;
    resize:auto;
    height:300px;

  }
}

button:hover {
  cursor: pointer;
  background: hsl(0, 0%, 88%);
}

.calendar-container .rbc-today {
  background-color: var(--pink);
}
.rbc-active {
  background-color: var(--pink);
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
  background-color: var(--pink) !important;
}